<h3>Авторизация</h3>
<div class="container">
  <div class="form">
    <div class="form__field">
      <mat-form-field appearance="fill">
        <mat-label>Имя пользователя</mat-label>
        <input matInput placeholder="Вася">
        <mat-hint>Введите имя пользователя</mat-hint>
      </mat-form-field>
    </div>
    <div class="form__field">
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput placeholder="123">
        <mat-hint>Введите пароль</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>

