<h3>Авторизация</h3>
<div class="container">
  <div class="form">
    <form [formGroup]="authorisationFrom">
      <div class="form__field">
        <mat-form-field appearance="fill">
          <mat-label>Имя пользователя</mat-label>
          <input matInput placeholder="Вася" formControlName="userName">
          <mat-hint>Введите имя пользователя</mat-hint>
        </mat-form-field>
      </div>
      <div class="form__field">
        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input matInput placeholder="123" formControlName="userPassword">
          <mat-hint>Введите пароль</mat-hint>
        </mat-form-field>
      </div>
      <div class="form__submit">
        <button mat-raised-button color="primary" (click)="OnCLickAuthorisation()">Авторизоваться</button>
      </div>
    </form>
  </div>
</div>

